.burst-transition-screen {
    position: absolute;
    inset: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    pointer-events: all;
    cursor: default;
    background-color: var(--color-primary); /* Sets a red overall background to overlay */
}
